@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --animate-spinSlow: spin 2s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

html {
  scroll-behavior: smooth;
}
